.vscode

tests/

main
a.out
test.c

**/**/**/main
**/**/**/a.out

**/**/**/ENG
**/**/**/mytest
**/**/**/test.sh
**/**/**/*.txt
**/**/*.txt


**/**/ENG
**/**/mytest
**/**/test.sh

**/**/main
**/**/a.out

.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store


**/main
**/a.out

/tutorials
